<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Account Settings</h4>
      </div>
      <div class="modal-body">
        <table>
          <tr>
              <td><label for="userPassword"> Password Reset </label>
              <input id="userPassword" type="password"></td>
          </tr>
          <tr>
            <td>Block</td>
            <td>
              <ui-switch></ui-switch>
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>