<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit your preferences</h4>
      </div>
      <div class="modal-body">

        <table>
          <tr>

            <td>Male</td>
            <td>
              <ui-switch></ui-switch>
            </td>

          </tr>
          <tr>
            <td>Female</td>
            <td>
              <ui-switch></ui-switch>
            </td>
          </tr>
          <tr>
            <td>
              <textarea></textarea>
            </td>
          </tr>
          <tr>
            <td>Age Range</td>
            <td>
              <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
              </div>
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>