<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Notification Settings</h4>
      </div>
      <div class="modal-body">

        <table>
          <tr>

            <td>For Messages</td>
            <td>
              <ui-switch></ui-switch>
            </td>

          </tr>
          <tr>
            <td>For likes </td>
            <td>
              <ui-switch></ui-switch>
            </td>
          </tr>
          <tr>
            <td>For Superlikes </td>
            <td>
              <ui-switch></ui-switch>
            </td>
          </tr>
          <tr>
            <td>Hide Occupation</td>
            <td>
              <ui-switch></ui-switch>
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>