<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Profile Details</h4>
      </div>
      <div class="modal-body">

        <table>
          <tr>
            <td>Hide bio</td>
            <td>
              <ui-switch></ui-switch>
            </td>
            
          </tr>
          <br>
          <tr><b>Personal Details</b></tr>
          <br>
          <tr>
            <td>Hide fullname</td>
            <td>
              <ui-switch></ui-switch>
            </td>
          </tr>
          <tr>
            <td>Hide Birthday</td>
            <td>
              <ui-switch></ui-switch>
            </td>
          </tr>
          <tr>
            <td>Hide Address</td>
            <td>
              <ui-switch></ui-switch>
            </td>
          </tr>
          <tr>
            <td>Hide Mobile No.</td>
            <td>
              <ui-switch></ui-switch>
            </td>
          </tr>
          <tr>
            <td>Hide Email</td>
            <td>
              <ui-switch></ui-switch>
            </td>
          </tr>
          <tr>
            <td>Hide Occupation</td>
            <td>
              <ui-switch></ui-switch>
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>